.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
};

.keyse{
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
};

.keyse>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
};

.img {
    width: 300px;
    height: 200px;
    display: flex;
    text-align: center;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgb(51 51 51 / 5%);
    margin-top: 29px;
};

img{
    width: 65%;
    height: 100%;
};

.load{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100px;
    height:100px;
};
.load hr{
    border:0;
    margin:0;
    width:40%;
    height:40%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s};
.load :nth-child(2){background:#F63D3A;animation-delay:-1s};
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s};
.load :last-child{background:#193B48};

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
};

.df{
color: #F63D3A;
}